


.form-url{

  min-height: 300px;
  background-color:  rgb(238, 238, 238);
}

/* #tableBody{
  background-color:  rgb(238, 238, 238);
} */

#tableRow{
  box-shadow: 2px 8px 5px 2px rgba(117,108,108,0.55);
-webkit-box-shadow: 2px 8px 5px 2px rgba(117,108,108,0.55);
-moz-box-shadow: 2px 8px 5px 2px rgba(117,108,108,0.55);

background-color:  rgb(238, 238, 238);

/* margin-top: 10px; */

}